#root {
  // background-image: url("./utils/images/personalportfoliobg2.jpg");
  height: 100vh;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//--------------------------JUMBOTRON--------------------------//
#jumbotron{
  background-color: rgb(0, 0, 0);
}

#site-name {
  font-size: 5.5vw;
  color: white;
}

#search-field{
  padding-top: 4vh;
  padding-right: 1vh;
  width: 40vw;
}

#checkbox{
  width: 15px;
  height: 15px;
}

#checkbox-label{
  padding-top: 1.2vw;
  padding-left: .50vw;
  font-size: 1.5vw;
  color: rgb(255, 255, 255);
}
//------------------------END JUMBOTRON------------------------//

//-------------------------- CARDS --------------------------//
#card-deck{
  justify-content:center;
}

#employee-card{
  margin-bottom: 1vw;
  max-width: 23vw;
  min-width: 19vw;
  border-left-width: 0.3vw;
  border-bottom-width: 0.3vw;
  border-right-style: none;
  border-top-style: none;
  border-color: rgba(44, 111, 187, 0.589);
}

#card-image{
  margin-top: 1vh;
  align-self: center;
  width: 12vw;
  height: auto;
}

.card-text{
  font-size: 18px;
  line-height: 4vh;
}

#icon{
  width: 23px;
  height: auto;
}
//--------------------------END CARDS--------------------------//