#root {
  // background-image: url("./utils/images/personalportfoliobg2.jpg");
  height: 100vh;
  overflow-x: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
